.Category {
  border: 1px solid grey;
  flex: 1 0 33%;
  width: 50%;
  margin: 15px;
  padding: 18px;
  background-color: yellowgreen;
  text-align: center;
}
.Icon {
  color: white;
  margin-bottom: 20px;
}
.Title {
  color: white;
  font-weight: 800;
}
