.NewQuizLink {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 17px;
  background-color: #7779e2;
  font-weight: 600;
  color: white;
  padding: 10px;
  border-radius: 8px;
  width: 30%;
  margin: 0 auto;
}

.NewQuizIcon {
  margin-left: 10px;
}
